.container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;

}   
.postInfo{
    margin-top: 1.25rem;
    display: flex;
    align-content: center;
    align-items: center;
    gap: 25px;
    span,time{
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 0.85rem;
        color:var(--gray-200);
    }
}